
  @font-face {
    font-family: 'Centrale Sans Medium';
    src: url('./Centrale/Centrale Sans Medium/CentraleSans-Medium.otf');
    font-weight: 400;
  }
  @font-face {
    font-family: 'Centrale Sans Bold';
    src: url('./Centrale/Centrale Sans Bold/CentraleSans-Bold.otf');
    font-weight: 600;
  }




body {
    padding: 0;
    margin: 0;
    font-family: 'Lato';
    font-weight: 400;
}

.header-block {
    background-color: #002449;
    width: 100%;
    height: 129px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.pdf-button-flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.Logo_brombacherHeaderLogo {
    margin-left: auto;
    padding-top: 40px;
    padding-right: 56px;
    height:66px;
    width: 220px;
}

.MathsSenseHeaderLogo {
    margin-right: auto;
    padding-top: 31px;
    padding-left: 31px;
    height:91px;
    width: 303px;
}

.navigation-menu-block {
    height: 64px;
    background-color:#9ACA60;
    
}

.navigation-buttons {
margin-left: auto;
margin-right: auto;
display: block;
height: 64px;
}

.button {
    background-color: #9ACA60;
    border: none;
    color: white;
    padding: 21px 33px 20px 34px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    line-height: 23px;
    color: #00234A;
    cursor: pointer;
    font-weight: 600;
    font-family: 'centrale sans bold';
} 

.button:hover {
        background-color:rgba(255,255,255,0.33);
        color: #00234A;
}


.fifty-section {

    background: white;
    height: 568px;
}

.fifty-flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.fifty-title {
    max-width: 700px;
    font-family: 'Centrale Sans Medium';
}

.fifty-block {
    width: 95%;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;

}

.fifty-left {
    flex-basis: 45%;
}

h2 {
    font-size: 50px;
    line-height: 55px;
    color: #002449;
    font-weight: 500;
    margin-top: 0;
}

.fifty-text {
    font-size: 18px;
    line-height: 30px;
    color: #002449;
    font-weight: 400;
    width: 90%;
}

.fifty-right {
    content: "";
    background-image: url("../Img/MacBookPro-white.png");
    background-repeat: no-repeat;
    flex-basis: 55%;
    margin-right: auto;
    margin-left: auto;
    display: block;
    height: 500px;
    width: 800px;
    margin-top: -110px;
}

#laptop-image {
padding-top: 30px;
height: 320px;

margin-left: 150px;
width: 381px; 

}

#blue-banner {
    margin-left: 328px;
    margin-top: -320px;
    padding-bottom: 7.5px;
}

.pdf-section {
    background: #002449;
    height: 797px;
}

.pdf-block {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.pdf-left {
    flex-basis: 47%;
}

#covers-image {
    margin: auto;
    display: block;
    height: 752px;
    width: 629px;
    margin-left: 40px;
}


.pdf-right {
    flex-basis: 45%;
    margin-top: 43px;
    padding-right: 31px;

}

.pdf-title {
    color: white;
    font-size: 30px;
    line-height: 40px;
    font-weight: 500;
    padding-bottom: 18px;
    margin-top: 0px;
    font-family: 'Centrale Sans Medium';
}

.pdf-text {
    color: white;
    font-size: 16px;
    line-height: 27px;
    padding-bottom: 10px;
    font-weight: 400;

}

.pdf-download {
    height: 43px;
    width: 191px;
    box-shadow: rgba(0,0,0,0.5);
    background: #99CC59;
    border-radius: 35px;
    font-size: 20px;
    line-height: 40px;
    color: #00234a;
    margin-top: 32px;
    border: none;

}

.download-text {
    display: block;
    margin: auto auto auto 20px;
    font-size: 20px;
    text-decoration: none;
    color: #00234a;
    font-family: Lato;
    font-weight: 600;
}

.three-col-section {
    background: #3893C7;
    height: 1000px;
    margin-top: -40px;
}

.three-col {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.three-col-title {
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    padding-top: 66px;
    color: white;
    padding-bottom: 14px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-family: "Centrale Sans Medium"; 
    font-weight: 500;
}

.column {
    width: 294px;
    height: 379px;
    border: 1px solid white;
    margin-right: 25px;
    margin-left: 25px;
}

.col-number {
    font-size: 90px;
    line-height: 110px;
    text-align:center;
    margin: 28px;
    color: white;
    font-family: Montserrat;
    font-weight: 700;
}
.col-text {
    font-size: 16px;
    line-height: 27px;
    color: white;
    padding: 0px 27.5px 0px 27.5px;
    font-weight: 500;
}
.col-bottom-text {
    padding-top: 35px;
    font-size: 16px;
    line-height: 27px;
    color: white;
    font-weight: 600;
    font-style: italic;
}


.column:first-child{
    margin-left: auto;
}
.column:last-child {
    margin-right: auto;
}

.footer-image-div{
    margin-top: -200px;
    width: 100%;

}

#footer-image {
    object-fit: cover;

}
footer {
    height: 125px;
    background: white;
    margin-bottom: 20px;
}

.footer-left,.footer-right {
    margin-top: auto;
    margin-bottom: auto;
    display:block;
    padding: 25px;
}
.footer-right {
    margin-left: auto;
}

.footer-text { 
    font-size: 14px;
    line-height: 25px;
    color: #878786;
    font-weight: 400;
}

#footer-link {
    padding-left: 20px;
    font-size: 14px;
    line-height: 25px;
    color: #878786;
}

.footer-flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.privacy {
    background: white;
    min-height: 1600px;
    height: auto;
    padding-bottom: 200px;
}

.privacy-content {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding-top: 60px;
}

.privacy-title {
    font-size: 53px;
    line-height: 55px;
    font-family: 'Centrale Sans Medium'
}

.privacy-title-container {
    flex-basis: 100%;
}
.privacy-text {
    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
    color: #00234A;
}

.covid-banner {
    position: fixed;
    bottom: 0;
    background: #143595;
    width: 100%;
}

.banner-text {
    color: white;
    text-align: center;
    padding: 5px;
    font-size: 16px;
}
#banner-link {
    color: #2db44a;
}


/* Responsivess */

@media (max-width: 768px) {
    footer {
        padding-bottom: 75px !important;
     }

    .pdf-section {
        height: 1850px !important;
    }
    .privacy {
        min-height: 1500px;
        height: auto;
        padding-bottom: 200px;
    }
    .column {
        width: 400px;
    }
}

@media (max-width: 1300px) and (min-width: 1200px) {
    .column {
        width: 300px !important;
    }
 
}


@media (max-width: 1300px) {

    .fifty-flex-container {
        flex-direction: column-reverse;
    }

    .fifty-section {
        height: 750px;
    }

    .fifty-right {
      flex-basis: unset;
      padding-top: 0px;
      margin-top: 0;
    }
    .fifty-text {
        margin-top: -50px;
    }

    .pdf-section {
        min-height: 1300px;
        height: auto;
        padding-bottom: 100px;
    }

    .Logo_brombacherHeaderLogo {
        padding-right: 56px;
        padding-top: 0;
        margin-top: 30px;
    }

    .three-col-section {
        padding-bottom: 200px;
        height: auto;
    }

    .column {
        margin: auto auto 50px auto;
        min-height: 500px;
        height: auto;
        width: 400px;
    } 

    .button { 
        font-size: 25px;
    }

    .pdf-text, .col-bottom-text, .col-text, .fifty-text {
        font-size: 20px;
        line-height: 22px;
    }

    .banner-text {
        font-size: 18px;
    }

    .pdf-right,.pdf-left {
        flex-basis: 100%;
        margin-left: 20px;
    }
    .fifty-title {
        max-width: 900px;
    }

}

@media (min-width: 1500px) {

        .col-bottom-text {
            width: 70%;
            margin-left: auto;
            margin-right: auto;
        }

        .footer-image-div {
            margin-top: -380px;
        }
        
}

@media(min-width: 1919px) {
   .three-col-section {
       padding-bottom: 150px;

   }
   .fifty-left {
       flex-basis: 40%;
       margin-left: auto;
   }
   .fifty-right {
       margin-left: 0;
       margin-right: 0;
   }

   .fifty-title {
       margin-left: 140px;
   }

   .pdf-right {
       flex-basis: 40%;
   }

   .pdf-left {
       margin-left: 180px;

   }
}

@media (max-width: 3000px) and (min-width: 2500px) {
    #blue-banner {
        margin-left: -205px !important;
        margin-bottom: -19px !important;
    }

    .three-col-section {
        flex-basis: 30% !important;
    }
    .pdf-right { 
        flex-basis: 25%;
        margin-left: -125px;
    }

    #covers-image {
    margin-left: auto;
    margin-right: 125px;
    }


    .fifty-left {
        margin-left: auto;
        margin-right: 0;
        flex-basis: 25% !important;
    }

    .fifty-title {
        margin-right: auto;
        margin-left: 555px !important;
    }
}

