/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

// To use this, type "sass index.scss index.css --watch --style=compressed" in your console within the CSS directory

@font-face {
  font-family: "Centrale Sans Medium";
  src: url("./Centrale/Centrale Sans Medium/CentraleSans-Medium.otf");
  font-weight: 400;
}
@font-face {
  font-family: "Centrale Sans Bold";
  src: url("./Centrale/Centrale Sans Bold/CentraleSans-Bold.otf");
  font-weight: 600;
}
body {
  padding: 0;
  margin: 0;
  font-family: "Lato";
  font-weight: 400;
}
.header-block {
  background-color: #002449;
  width: 100%;
  height: 129px;
}

body.homepage {
  .footer-image-div {
    background: #3893c7;
    margin-bottom: -4px;
    margin-top: -2px;
  }
  footer {
    padding-bottom: 20px;
  }
}
.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.pdf-button-flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  img {
    padding-left: 3px;
  }
}
.Logo_brombacherHeaderLogo {
  max-width: 220px;
  width: 100%;
}
.Logo_brombacherHeaderLogo-div {
  margin-left: auto;
  padding-top: 40px;
  padding-right: 56px;
}
.MathsSenseHeaderLogo-div {
  margin-right: auto;
  padding-top: 31px;
  padding-left: 31px;
}
.MathsSenseHeaderLogo {
  max-width: 253px;
  width: 100%;
}
.navigation-menu-block {
  height: 64px;
  background-color: #9aca60;
}
.navigation-buttons {
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 64px;
  @media only screen and (max-width: 840px) {
    .button {
      font-size: 20px;
    }
  }
}
.button {
  background-color: #9aca60;
  border: none;
  color: white;
  padding: 21px 33px 20px 34px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  line-height: 23px;
  color: #00234a;
  cursor: pointer;
  font-weight: 600;
  font-family: "centrale sans bold";
}
.button:hover {
  background-color: rgba(255, 255, 255, 0.33);
  color: #00234a;
}
.fifty-section {
  background: white;
  height: 568px;
}
.fifty-flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.fifty-title {
  max-width: 700px;
  font-family: "Centrale Sans Medium";
}
.fifty-block {
  width: 95%;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 50px;
  @media only screen and (min-width: 1700px) {
    max-width: 1774px;
    margin-left: auto;
    margin-right: auto;
  }
}
.fifty-left {
  -ms-flex-preferred-size: 45%;
  flex-basis: 45%;
}
h2 {
  font-size: 50px;
  line-height: 55px;
  color: #002449;
  font-weight: 500;
  margin-top: 0;
}
.fifty-text {
  font-size: 18px;
  line-height: 30px;
  color: #002449;
  font-weight: 400;
  width: 90%;
}

.fifty-right {
  -ms-flex-preferred-size: 55%;
  flex-basis: 55%;
  margin-right: auto;
  margin-left: auto;
  display: block;
  margin-top: -100px;
  max-width: 800px;
  position: relative;
}

#laptop-image {
  margin-top: -0px;
  width: 100%;
  max-width: 800px;
}
#laptop-gif {
  position: absolute;
  max-width: 351px;
  width: 100%;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  @media only screen and (max-width: 810px) {
    max-width: 250px;
  }
  @media only screen and (max-width: 650px) {
    max-width: 200px;
  }
  @media only screen and (max-width: 500px) {
    max-width: 150px;
  }
}

#blue-banner {
  position: absolute;
  width: 100%;
  max-width: 300px;
  right: 96px;
  bottom: 57px;
  @media only screen and (min-width: 1400px) and (max-width: 1500px) {
    right: 96px;
    bottom: 57px;
  }
  @media only screen and (min-width: 1600px) {
    right: 102px;
    bottom: 60px;
  }
  @media only screen and (max-width: 1100px) {
    right: 91px;
    bottom: 54px;
  }
  @media only screen and (max-width: 810px) {
    max-width: 30vw;
    right: 12.6%;
    bottom: 13.2%;
  }
}

.pdf-section {
  background: #002449;
  padding-bottom: 50px;
}

.pdf-block {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  max-width: 2000px;
}

.pdf-left {
  -ms-flex-preferred-size: 47%;
  flex-basis: 47%;
  margin-right: 50px;
}

#covers-image {
  margin: auto;
  display: block;
  max-width: 629px;
  width: 100%;
  margin-left: 40px;
}

.pdf-right {
  flex-basis: 48%;
  margin-top: 43px;
}

.pdf-title {
  color: white;
  font-size: 30px;
  line-height: 40px;
  font-weight: 500;
  padding-bottom: 18px;
  margin-top: 0px;
  font-family: "Centrale Sans Medium";
}

.pdf-text {
  color: white;
  font-size: 16px;
  line-height: 27px;
  padding-bottom: 10px;
  font-weight: 400;
}

.pdf-download {
  height: 43px;
  width: 191px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5);
  box-shadow: rgba(0, 0, 0, 0.5);
  background: #99cc59;
  border-radius: 35px;
  font-size: 20px;
  line-height: 40px;
  color: #00234a;
  margin-top: 32px;
  border: none;
}

.download-text {
  display: block;
  margin: auto auto auto 20px;
  font-size: 20px;
  text-decoration: none;
  color: #00234a;
  font-family: Lato;
  font-weight: 600;
}

.three-col-section {
  background: #3893c7;
  height: 1000px;
  margin-top: -40px;
  @media (min-width: 1600px) {
    height: auto;
  }
}

.three-col {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  @media (max-width: 700px) {
    width: 95%;
  }
  .flex-container {
    @media only screen and (min-width: 1300px) {
      flex-wrap: nowrap;
    }
  }
}

.three-col-title {
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  padding-top: 66px;
  color: white;
  padding-bottom: 14px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-family: "Centrale Sans Medium";
  font-weight: 500;
  @media (max-width: 500px) {
    width: 100%;
  }
}

.column {
  width: 294px;
  height: 379px;
  border: 1px solid white;
  margin-right: 25px;
  margin-left: 25px;
}

.col-number {
  font-size: 90px;
  line-height: 110px;
  text-align: center;
  margin: 28px;
  color: white;
  font-family: Montserrat;
  font-weight: 700;
}
.col-text {
  font-size: 16px;
  line-height: 27px;
  color: white;
  padding: 0px 27.5px 0px 27.5px;
  font-weight: 500;
}
.col-bottom-text {
  padding-top: 35px;
  font-size: 16px;
  line-height: 27px;
  color: white;
  font-weight: 600;
  font-style: italic;
  margin-bottom: 0px;
  @media (max-width: 600px) {
    max-width: 90%;
    margin: auto;
  }
}

.column:first-child {
  margin-left: auto;
}
.column:last-child {
  margin-right: auto;
}

.footer-image-div {
  width: 100%;
}

#footer-image {
  -o-object-fit: cover;
  object-fit: cover;
}
footer {
  height: 125px;
  background: #ffffff;
}

.footer-left,
.footer-right {
  margin-top: auto;
  margin-bottom: auto;
  display: block;
  padding: 25px;
}
.footer-right {
  margin-left: auto;
  @media (max-width: 830px) {
    margin-right: auto;
  }
}

.footer-text {
  font-size: 14px;
  line-height: 25px;
  color: #878786;
  font-weight: 400;
}

#footer-link {
  padding-left: 20px;
  font-size: 14px;
  line-height: 25px;
  color: #878786;
}

.footer-flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
/* Privacy */

.privacy {
  background: white;
  height: auto;
  min-height: calc(100vh - 362px);
  padding-bottom: 20px;
}

.privacy-content {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  padding-top: 60px;
}

.privacy-title {
  font-size: 53px;
  line-height: 55px;
  font-family: "Centrale Sans Medium";
}

.privacy-title-container {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
}
.privacy-text {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: #00234a;
}

.privacy-highlighted {
  text-decoration: underline;
  font-weight: bold;
  background-color: yellow;
}

/* Terms */
.terms {
  background: white;
  height: auto;
  min-height: 55vh;
  margin-bottom: 500px;
}

.terms-content {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  padding-top: 60px;
}

.term-title {
  font-size: 53px;
  line-height: 55px;
  font-family: "Centrale Sans Medium";
}

.terms-title-container {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
}
.terms-text {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: #00234a;
}

.terms-highlighted {
  text-decoration: underline;
  font-weight: bold;
  background-color: yellow;
}

/* 404 */

.fourzerofour {
  background: white;
  height: auto;
  padding-bottom: 180px;
  min-height: calc(100vh - 820px);
  @media only screen and (max-width: 600px) {
    padding-bottom: 40px;
    min-height: calc(100vh - 820px);
  }
}

.fourzerofour-content {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  padding-top: 60px;
}

.fourzerofour-title {
  font-size: 53px;
  line-height: 55px;
  font-family: "Centrale Sans Medium";
}

.fourzerofour-title-container {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
}
.fourzerofour-text {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: #00234a;
}

.covid-banner {
  position: fixed;
  bottom: 0;
  background: #143595;
  width: 100%;
}

.banner-text {
  color: white;
  text-align: center;
  padding: 5px;
  font-size: 16px;
}
#banner-link {
  color: #2db44a;
}

/* Responsivess */

@media (max-width: 820px) {
  footer {
    margin-bottom: 115px !important;
    height: 150px;
  }

  .footer-left,
  .footer-right {
    padding-top: 0px;
    text-align: center;
  }

  .footer-left {
    margin: auto;
    padding-top: 25px;
    padding-left: 0px;
  }
  .column {
    width: 400px;
  }
  .privacy {
    margin-bottom: 200px;
  }
  .button {
    padding: 21px 12px 20px 12px;
    font-size: 12px !important;
  }

  .Logo_brombacherHeaderLogo {
    max-width: 120px;
    padding-right: 25px !important;
  }

  .Logo_brombacherHeaderLogo-div {
    margin-right: 0;
    margin-left: auto;
    padding-right: 0;
    padding-top: 0;
    margin-top: 30px;
  }

  .MathsSenseHeaderLogo {
    max-width: 150px;
  }
  .header-block {
    height: 109px;
  }

  .fifty-block {
    width: 90%;
    margin-left: 25px;
    margin-right: 25px;
  }
  .fifty-text {
    width: 100%;
  }
  .covid-banner {
    width: 100%;
  }
  .column {
    min-height: 400px !important;
  }

  #covers-image {
    margin-left: 0px;
  }

  #laptop-gif {
    position: absolute;
  }

  .fifty-section {
    height: 675px !important;
  }

  h2 {
    font-size: 25px;
    line-height: 27px;
  }

  .pdf-text,
  .col-bottom-text,
  .col-text,
  .fifty-text {
    font-size: 18px !important;
    line-height: 20px !important;
  }
}

@media (max-width: 768px) and (min-width: 768px) {
  .footer-left,
  .footer-right {
    padding: 0;
  }

  .button {
    padding: 21px 25px 20px 25px;
  }
}

@media (max-width: 1340px) and (min-width: 1200px) {
  .column {
    width: 300px !important;
  }
}

@media (max-width: 1300px) {
  .fifty-flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .fifty-section {
    height: 850px;
  }

  .fifty-right {
    -ms-flex-preferred-size: unset;
    flex-basis: unset;
    padding-top: 0px;
    margin-top: 0;
  }

  .pdf-section {
    height: auto;
    padding-bottom: 100px;
  }

  .Logo_brombacherHeaderLogo {
    padding-right: 56px;
    padding-top: 0;
  }

  .three-col-section {
    padding-bottom: 200px;
    height: auto;
  }

  .column {
    margin: auto auto 50px auto;
    min-height: 500px;
    height: auto;
    width: 400px;
  }

  .button {
    font-size: 25px;
  }

  .pdf-text,
  .col-bottom-text,
  .col-text,
  .fifty-text {
    font-size: 20px;
    line-height: 22px;
  }

  .pdf-right,
  .pdf-left {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    margin-left: 20px;
  }
  .fifty-title {
    max-width: 900px;
  }
}

@media (min-width: 1500px) {
  .col-bottom-text {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1919px) {
  .three-col-section {
    padding-bottom: 150px;
  }
  .fifty-left {
    -ms-flex-preferred-size: 40%;
    flex-basis: 40%;
    margin-left: auto;
  }
  .fifty-right {
    margin-left: 0;
    margin-right: 0;
    -ms-flex-preferred-size: 45%;
    flex-basis: 45%;
  }

  .fifty-title {
    margin-left: 270px;
  }

  .pdf-right {
    -ms-flex-preferred-size: 35%;
    flex-basis: 35%;
  }

  .pdf-left {
    margin-left: 180px;
  }
  #covers-image {
    margin-left: 125px;
  }
}

@media (max-width: 3000px) and (min-width: 2500px) {
  .three-col-section {
    -ms-flex-preferred-size: 30% !important;
    flex-basis: 30% !important;
  }
  .pdf-right {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    margin-left: -125px;
  }

  #covers-image {
    margin-left: auto;
    margin-right: 125px;
  }

  .privacy {
    min-height: 1300px;
  }
}
