body {
    padding: 0;
    margin: 0;
    font-family: Lato;
}

.header-block {
    background-color: #002449;
    width: 100%;
    height: 129px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .flex-container {
        flex-direction: column;
    }
}

.Logo_brombacherHeaderLogo {
    margin-left: auto;
    padding-top: 40px;
    padding-right: 56px;
    height:66px;
    width: 220px;
}

.MathsSenseHeaderLogo {
    margin-right: auto;
    padding-top: 31px;
    padding-left: 31px;
    height:91px;
    width: 303px;
}

.navigation-menu-block {
    height: 64px;
    background-color:#9ACA60;
    
}

.navigation-buttons {
margin-left: auto;
margin-right: auto;
display: block;
height: 64px;
}

.button {
    background-color: #9ACA60;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    line-height: 23px;
    color: #00234A;
    cursor: pointer;
    font-weight: 700;
    width: 222px;
} 

#sample-button {
    width: 117px;
}

#sample-button:hover {
    width: 117px;
}
#shop-button {
    width: 44px;
}

#shop-button:hover {
    width: 44px;
}
#contact-button {
    width: 67px;
}

#contact-button:hover {
    width: 67px;
}

.button:hover {
        height: 64px;
        width: 222px;
        opacity: 0.33;
        background-color: #FFFFFF;
}


.fifty-section {

    background: white;
    height: 568px;
}
.fifty-block {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}
.fifty-left {
    flex-basis: 50%;
}

h2 {
    font-size: 53px;
    line-height: 55px;
    color: #002449;
    font-weight: 900;
}

p {
    font-size: 18px;
    line-height: 30px;
    color: #002449;
}

.fifty-right {
    flex-basis: 50%;
    margin-right: auto;
}

#laptop-image {
padding-top: 50px;
width: 100%;
}

.pdf-section {
    background: #002449;
    height: 797px;
}

.pdf-block {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.pdf-left {
    flex-basis: 50%;
}

#covers-image {
    margin-top: auto;
    margin-bottom: auto;
    display: block;
}

.pdf-right {
    flex-basis: 50%;
    margin-top: auto;
    margin-bottom: auto;
}

.pdf-title {
    color: white;
    font-size: 30px;
    line-height: 40px;
    font-weight: 700;
}

.pdf-text {
    color: white;
}

.pdf-download {
    height: 43px;
    width: 191px;
    box-shadow: rgba(0,0,0,0.5);
    background: #99CC59;
    border-radius: 35px;
    font-size: 20px;
    line-height: 40px;
    color: #00234a;
    margin-top: 30px;

}

.download-text {
    display: block;
    margin: auto;
    font-size: 20px;
}

.three-col-section {
    background: #3893C7;
    height: 1030px;
    margin-top: -40px;
}

.three-col {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.three-col-title {
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    padding-top: 66px;
    color: white;
    padding-bottom: 10px;
}

.column {
    width: 294px;
    height: 379px;
    border: 1px solid white;
}

.col-number {
    font-size: 90px;
    line-height: 110px;
    text-align:center;
    margin: 28px;
    color: white;
}
.col-text {
    font-size: 16px;
    line-height: 27px;
    color: white;
    padding: 0px 15px 0px 15px;
}
.col-bottom-text {
    padding-top: 32px;
    font-size: 16px;
    line-height: 27px;
    color: white;
}
.footer-image-div{
    margin-top: -200px;
    width: 100%;

}

#footer-image {
    object-fit: cover;

}
footer {
   height: 125px;
   background: white;
}

.footer-left,.footer-right {
    margin-top: auto;
    margin-bottom: auto;
    display:block;
    padding: 25px;
}

.footer-text { 
    font-size: 14px;
    line-height: 25px;
    color: #878786;
}

#footer-link {
    padding-left: 25px;
    font-size: 14px;
    line-height: 25px;
    color: #878786;
}