body {
    padding: 0;
    margin: 0;
    font-family: Lato;
}

.header-block {
    background-color: #002449;
    width: 100%;
    height: 129px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    max-height: 100%;
}

@media (max-width: 768px) {
    .flex-container {
        flex-direction: column;
    }
}

.Logo_brombacherHeaderLogo {
    margin-left: auto;
    padding-top: 40px;
    padding-right: 56px;
    height:66px;
    width: 220px;
}

.MathsSenseHeaderLogo {
    margin-right: auto;
    padding-top: 31px;
    padding-left: 31px;
    height:91px;
    width: 303px;
}

.navigation-menu-block {
    height: 64px;
    background-color:#9ACA60;
    
}

.navigation-buttons {
margin-left: auto;
margin-right: auto;
display: block;
height: 64px;
}

.button {
    background-color: #9ACA60;
    border: none;
    color: white;
    padding: 20.6px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    line-height: 23px;
    color: #00234A;
    cursor: pointer;
    font-weight: 700;
} 

.button:hover {
    background-color: #ffffff;
}


.fifty-section {

    background: white;
    height: 568px;
}
.fifty-block {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}
.fifty-left {
    flex-basis: 50%;
}

h2 {
    font-size: 53px;
    line-height: 55px;
    color: #002449;
    font-weight: 900;
}

p {
    font-size: 18px;
    line-height: 30px;
    color: #002449;
}

.fifty-right {
    flex-basis: 50%;
    margin-right: auto;
}

#laptop-image {
padding-top: 50px;
}

.pdf-section {
    background: #002449;
    height: 797px;
}

.pdf-block {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.pdf-left {
    flex-basis: 50%;
}

#covers-image {
    margin-top: auto;
    margin-bottom: auto;
    display: block;
}

.pdf-right {
    flex-basis: 50%;
    margin-top: auto;
    margin-bottom: auto;
}

.pdf-title {
    color: white;
    font-size: 30px;
    line-height: 40px;
    font-weight: 700;
}

.pdf-text {
    color: white;
}

.pdf-download {
    height: 43px;
    width: 191px;
    box-shadow: rgba(0,0,0,0.5);
    background: #99CC59;
    border-radius: 35px;
    font-size: 20px;
    line-height: 40px;
    color: #00234a;
    margin-top: 30px;

}

.download-text {
    display: block;
    margin: auto;
    font-size: 20px;
}